<div id="div_listado">
  <h2>Listado CVs y Portfolios</h2>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Archivo Adjunto</th>
      </tr>
    </thead>
    <tbody id="tbody_lista_cvs">
      <tr *ngFor="let unPortfolio of arrayPortfolios">
        <td>{{ unPortfolio.getNombre() }}</td>
        <td>{{ unPortfolio.getDescripcion() }}</td>
        <td><a target="_blank" href="{{ unPortfolio.getArchivo() }}">Ver Archivo Adjunto</a></td>
      </tr>
    </tbody>
  </table>
</div>
