<div id="div_listado">
  <h2 class="hStyle">Listado de proyectos</h2>
  <table id="tabla">
      <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Link adjunto</th>
      </tr>
      <tr class=tabla2 *ngFor="let unPortfolio of arrayPortfolios">
          <td>{{ unPortfolio.getNombre() }}</td>
          <td>{{ unPortfolio.getDescripcion() }}</td>
          <td><a target="_blank" href="{{ unPortfolio.getArchivo() }}">Ver Archivo Adjunto</a></td>
      </tr>
  </table> 
</div>
