<div id="div_presentacion">
  <h1>Presentación Gestor Portfolio del grupo de los más listos.</h1>
  <p>Pues aquí podréis ir viendo los portfolios a la vez que los añadimos cada uno el suyo y eso : ) </p>
  <img src="assets/img/icon.gif" />
  <br /> <br /> <br />
  <br />
  <h2>Con Angular</h2>
  <p>Nos hemos dedicado cada uno a hacer una cosa y somos todos muy listos. </p>
  <p>Contratadnos porque somos lo mejor que le va a pasar a vuestras empresas, tenemos todo un coeficiente intelectual
    de +300</p>
  <br /> <br /><br /> <br /><br /> <br />
  <br />
  <p>Bueno nos vemos en los bares. </p>
</div>
