<h2 class="hStyle">
  {{ titulo }}

</h2>
<p class="minAltura">{{etiqueta_nombre}}:<br />
  <input class="inputclass" type="text" [placeholder]="placeholder_nombre" (click)="limpiar()" [(ngModel)]="nombreIntroducido" />
  <select class="optionStyle" [(ngModel)]="nombreIntroducido">
    <option *ngFor="let p of arrayPortfolios" value="{{p.getNombre()}}">
      {{p.getNombre()}}
    </option>
  </select>
  <br />
  <br />
  <input class="inputButton" type="button" value="Dar de Baja" (click)="darBaja()" />
</p>
