<<<<<<< HEAD
=======
/*:host {
    display: inline-block;
    background: #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  :host:hover {
    background: #ddd;

  }*/
>>>>>>> 964f955e96eb4147a0e99cfbe44ad6e96797d588
