<<<<<<< Updated upstream
/*:host {
    display: inline-block;
    background: #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  :host:hover {
    background: #ddd;
<<<<<<< HEAD
  }*/
=======
  }
=======
.div_listado{
  
}
>>>>>>> Stashed changes
>>>>>>> 4934bf600477720eea4d5c276741eefd10bb6e81
