.footerGlobal {
  height: 200px;
<<<<<<< HEAD
  bottom: 0;
  width: 100%;
  float: bottom;
=======

  width: 100%;
  position: absolute;
  float: bottom;
  bottom: 0;
>>>>>>> 4934bf600477720eea4d5c276741eefd10bb6e81
}

#myFooter a {
  color: #e0e0e0;
  font-size: 18px;
}

.center {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.centerCopy {
  display: flex;
  background-color: black;
  color: rgb(133, 133, 133);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}


