.footerGlobal {
  height: 200px;
<<<<<<< HEAD
  width: 100%;
  position: absolute;
  float: bottom;
  bottom: 0;
=======
  bottom: 0;
  width: 100%;
  float: bottom;
>>>>>>> 964f955e96eb4147a0e99cfbe44ad6e96797d588
}

#myFooter a {
  color: #e0e0e0;
  font-size: 18px;
}

.center {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.centerCopy {
  display: flex;
  background-color: black;
  color: rgb(133, 133, 133);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
<<<<<<< HEAD


=======
>>>>>>> 964f955e96eb4147a0e99cfbe44ad6e96797d588
