<footer id="myFooter">
  <div class="footerGlobal">
    <div class="center">
      <div class="logo">
        <h2><a href="#"> LOGO </a></h2>
      </div>
      <div>
        <h5>Get started</h5>
        <div>
          <div><a href="#">Home</a></div>
          <div><a href="#">Sign up</a></div>
          <div><a href="#">Downloads</a></div>
        </div>
      </div>
      <div>
        <h5>About us</h5>
        <div>
          <div><a href="#">Company Information</a></div>
          <div><a href="#">Contact us</a></div>
          <div><a href="#">Reviews</a></div>
        </div>
      </div>
      <div>
        <div>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
        <button type="button">Contact us</button>
      </div>
    </div>
    <div>
      <p>© 2018 Copyright Text </p>
    </div>
  </div>

</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
